footer{
    width: auto;
    height: 40px;
    background-color: black;
    color: white;
    font-family: 'libre franklin';
    padding: 10px;
    .contact{
        display: flex;
        align-items: center;
        .far {
            margin-right: 10px;
        }
    }
}