body {
    font-family: 'libre franklin';
    background-color: rgba(243, 221, 233, 0.734);
    margin:0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 50px;
    #logo_header {
        width: 200px;
        height: 50px;
    }
}

nav {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    background-color: white;
    box-shadow: rgb(156, 153, 153) 1px 2px 3px 2px;
    color: black;
    font-weight: bold;
    margin : 5px auto 5px auto;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        list-style: none;
        padding: 0;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover,li:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(193, 159, 243);
            box-shadow: rgb(156, 153, 153) 1px 2px 3px 2px;
            height: 40px;
            width: 110px;
        }
    }
}
#panier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    width: 90px;
    height: 40px;
    padding-right: 20px;
    a{
        color: black;
    }
    .fas{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 14px;
        background: linear-gradient(90deg, rgba(215,97,17,0.6) 0%, rgba(127,69,252,0.6) 100%);
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }
}

main h1{
    font-size: 24px;
}
main h2{
    font-size: 18px;
}
@media (max-width: 1024px){
    nav{
        ul{
            width: 100%;
            font-size: 14px;
        }
    }
}