body {
    font-family: 'libre franklin';
    background-color: rgba(243, 221, 233, 0.734); 
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 50px;
    p{
        color: white;
        text-align: center;
    }
    #logo_header {
        width: 200px;
        height: 50px;
    }
}

nav {
    display:flex;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    background-color: white;
    box-shadow: rgb(156, 153, 153) 1px 2px 3px 2px;
    color: black;
    margin-top: 5px;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        list-style: none;
        padding: 0;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover,li:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(137, 92, 233);
            height: 30px;
            width: 130px;
        }
    }
}
#panier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 70px;
    padding-right: 20px;
}

main h1{
    font-size: 24px;
}
main h2{
    font-size: 18px;
}