// MAIN (for all pages)
main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin : 20px auto 20px auto;
    border-radius: 5px;
    border-top: solid 4px black;
    &_container{
        height: auto;
    }
    .header{
        display: flex;
        flex-direction: column;
        margin: 5px 15px 5px 15px;
    }
}
//HEADER MAIN INDEX
.header_index{
    h1{
        font-size: 24px;
        text-decoration: underline;
        padding-left: 25px;
    }
    p{
        font-size: 20px;
        padding-left: 25px;
    }
}
//LAND PAGE PRODUCTS
#produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin : auto;
    .thumb {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        border-left: solid 4px orange;
        box-shadow: rgb(156, 153, 153) 1px 2px 3px 2px;
        background-color: white;
        height: 50%;
        width: 70%;
        padding: 5px;
        margin : 5px auto 20px auto;
        //CONTAINER TXT and BUTTON
        .para_btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 40%;
            p{
                font-family: 'libre franklin';
                font-weight: bold;
            }
            button  {
                width: 70%;
                min-width: 100px;
                height: 30px;
                font-family: 'libre franklin';
                font-weight: 600;
                background-color: rgba(243, 221, 233, 0.734);
                border: none;
                border-radius: 5px;
                &:hover{
                    box-shadow: rgb(193, 159, 243) 1px 2px 3px 2px;
                    bottom: 2px;
                }
            }
        }
        //IMG
        &_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height:90%;
            max-height: 185px;
            min-height: 110px;
            border-radius: 5px;
            object-fit: cover;
        }
    }
}
//MEDIAS
@media (max-width: 1024px){
    main {
        width: 90%;
    }
    .thumb{
        flex-direction: column;
    }
}